.search_result{:class => 'commentable'}
  .vote-col
    = vote_box(search_result, question_path(question), question.closed)
  .title
    = link_to(search_result.title, search_result.url)
  .url
    %p
      = shorten_url(search_result.url)
  .summary
    - if search_result.summary.present?
      %p
        = search_result.summary
  = render :partial => 'shared/comments',
           :locals => { :commentable => search_result,
                        :source => question_path(question),
                        :path_scope => [search_result] }
