- source = local_assigns[:source]
- commentable = local_assigns[:commentable]
- path_scope = local_assigns[:path_scope]
- comments = commentable.comments

- if comments.blank?
  - if logged_in?
    .forms
      - # TODO maybe add a title
      - @comment = Comment.new
      = form_tag(url_for(path_scope + [@comment]) + ".js",
        :class => "form commentForm",
        :remote => true, "data-type" => "json") do
        = render :partial => "comments/form",
          :locals => {:source => source,
                      :commentable => commentable}
        .group.navform
          = submit_tag t("comments.shared.comment_submit"), :class => "button"
- else

  = render :partial => "comments/comment", :object => comments[0], :locals => {:source => source, :mini => true}
  - comments = comments[1 .. comments.count]
  .comments_wrapper
    .comments
      - comments.each do |comment|
        = render :partial => "comments/comment", :object => comment, :locals => {:source => source, :mini => true}
    - if logged_in?
      .forms
        - @comment = Comment.new
        = form_tag(url_for(path_scope + [@comment]) + ".js",
          :class => "form commentForm",
          :remote => true, "data-type" => "json") do
          = render :partial => "comments/form",
            :locals => {:source => source,
                        :commentable => commentable}
          .group.navform
            = submit_tag t("comments.shared.comment_submit"), :class => "button"
