#title
  %h3  #{ t('layouts.application.signup') }
%p #{ t('auth_callback.password_required') }
= form_for @user, :url => auth_sign_in_and_associate_provider_path, :html => {:class => "form"} do |f|
  .field
    .label
      = f.label :email, t(:email, :scope => "users.form")
    .input #{ @email }

  .field
    .label
      = f.label :password, t(:password, :scope => "users.form")
    .input
      = f.password_field :password, :tabindex => 0

    .submit
      = submit_tag t('users.signup.submit'), :tabindex => 1
