- if logged_in?
  #user-bar-greeting
    Signed in as
    = link_to_current_user :content_method => :name
  #user-bar-action
    (
    = link_to "Sign out", destroy_user_session_path, { :title => "Sign out" }
    )
- else
  #user-bar-greeting
    = link_to_login_with_IP 'Not signed in', :style => 'border: none;'
  #user-bar-action
    = link_to "Sign in",  new_user_session_path,  { :title => "Sign in" }
    \/
    = link_to "Sign up", signup_path, { :title => "Create an account" }

