#main
  %h2= t(".title")

  - if @invitation
    %p#invitation_introduction
      = t('.invitation.title', :user => '<span class="inviter_name">' + h(@invitation.sender.name) + '</span>')
    #invitation_message
      = avatar_for(@invitation.sender, :size => 64, :class => 'inviter_avatar')
      = markdown(@invitation.message)
      -# Sorry about this, guys
      .clear
  - elsif @group_invitation
    #invitation_message
      = markdown(@group_invitation.message)
  - elsif @affiliation
    #invitation_message
      = t('.affiliation_message', :email => @affiliation.email)

    %hr
  - @user.password = @user.password_confirmation = nil
  - if @user.errors.present?
    - @user.translate_errors
    #errorExplanation.errorExplanation
      %ul
        - @user.errors.each do |field, errors|
          - errors.each do |error|
            %li= error

  = render :partial => 'users/signup_form', :locals => { :options => { :already_registered => true } }
