#other-actions
  - if logged_in?
    #actions_header
      .user-avatar
        = link_to(avatar_for(current_user, :size => 32).html_safe,
                  user_path(current_user))
      .user_info
        .user_title
          .arrow
            = link_to('', '#', :class => 'down-arrow')
          .user_name
            = link_to(truncate(h(short_name(current_user)), :length => 16),
                      user_path(current_user))
        .question_followers_count
          = current_user.question_followers_count
    %ul.hidden-menu
      %li.menu-item
        = link_to t("layouts.application.profile"), user_path(current_user)
      %li.menu-item
        = link_to t("layouts.application.settings"), settings_profile_path
      %li.menu-item
        = link_to t("layouts.application.logout"), destroy_user_session_path
  - else
    .log-in
      = link_to(t(:log_in, :scope => [:layouts, :application]),
                root_path(:return_to => request.path,
                          :group_invitation => session[:group_invitation]))
