- content_for :sidebar do
  .block
    - if current_user.owner_of?(current_group)
      .navigation= link_to t(".admin"), manage_properties_path
    - if current_user.mod_of?(current_group)
      .navigation= link_to t(".moderate"), moderate_path
    - if current_user.url_invitation
      .navigation
        = t(:title, :scope => [:url_invitations, :sidebar])
        #url_field_wrapper
          = url_field_tag :ref, root_url(:ref => current_user.url_invitation.ref), :readonly => true, :class => :url_field
        #url_invitation_information
          %span.number
            = current_user.url_invitation.clicks_count
          = "#{t(:clicks, :scope => [:url_invitations, :sidebar])},"
          %span.number
            = current_user.url_invitation.sign_ups_count
          = "#{t(:sign_ups, :scope => [:url_invitations, :sidebar])},"
          %span.number
            = current_user.url_invitation.invites_left
          = t(:left, :scope => [:url_invitations, :sidebar])

  -# Topic suggestions
  - if logged_in?
    = render_cell :suggestions, :users, :single_column => true
    = render_cell :suggestions, :topics, :single_column => true

  - current_group.widgets.each do |widget|
    .widget.block{:id => widget.name}
      = render :partial => widget.partial_name, :locals => {:widget => widget}
