- content_for :header do
  = form_tag new_user_session_path, :id => 'login_form' do
    #email_label.label
      = label_tag 'user[email]', t('users.form.email')
    #password_label.label
      = label_tag 'user[password]', t('users.form.password')

    #email_field
      = email_field_tag 'user[email]', nil, :tabindex => @signin_index
    #password_field
      = password_field_tag 'user[password]', nil, :tabindex => @signin_index + 1
    #submit_button
      = submit_tag t('layouts.application.log_in'), :tabindex => @signin_index + 3

    #remember_me
      = label_tag 'user[remember_me]', t("sessions.new.remember_me")
      = check_box_tag 'user[remember_me]', '1', false, :tabindex => @signin_index + 2

    #recover_password
      = link_to t("devise.passwords.link"), new_password_path("user")

- content_for :js do
  = include_javascripts :landing

#title_landingpage

  %h1=t("welcome.landing.headline")

#content

  =t("welcome.landing.pitch")

#signup
  %h3  #{ t('layouts.application.signup') }
  %p#invitation_only=t("welcome.landing.invitation_only")
  = image_tag("mamaopq.png", :id => "mamao_signup")
