%p= t('.greeting', :invited => @invited.first_name)

%p= t('.sender', :user => h(@sender.name), :question => "\"#{link_to(@question.title, question_url(@question))}\"")

- if @message.present?
  \---
  = markdown(@message, :group => @group)
  \---

%p
  = t(".html_link_label")
  %br
  = link_to question_url(@question), question_url(@question)

%br
= simple_format(t('.goodbye'))
